body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blue;
    text-align: center;
    background-color: bisque;
}

body:hover {
	background: rgba(0,0,0,0);
	color: pink;
	box-shadow: inset 0 0 0 3px #3a7999;
}